<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title><!DOCTYPE html>
            <html xmlns:th="http://www.thymeleaf.org">
            <head>
            <title>Dashboard</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h2>Добро пожаловать, <span th:text="${username}"></span>!</h2>
            <div style="position: absolute; top: 10px; right: 10px;">
                <form action="/app/logout" method="get">
                    <button type="submit">Выйти</button>
                </form>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;">
                <div>
                    <h3>Общий доход: <span th:text="${wallet.totalIncome}"></span></h3>
                    <h3>Доходы по категориям:</h3>
                    <ul>
                        <li th:each="category : ${categories}"th:if="${category.value.income != 0}">
                            <strong th:text="${category.key}"></strong>:
                            <span th:text="${category.value.income}"></span>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3>Общий расход: <span th:text="${wallet.totalExpense}"></span></h3>
                    <h3>Расходы по категориям:</h3>
                    <ul>
                        <li th:each="category : ${categories}" th:if="${category.value.expense != 0}">
                            <strong th:text="${category.key}"></strong>:
                            <span th:text="${category.value.expense}"></span>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3>Бюджет по категориям:</h3>
                    <ul>
                        <li th:each="category : ${categories}" th:if="${category.value.budget != 0}">
                            <strong th:text="${category.key}"></strong>:
                            <span th:text="${category.value.budget}"></span>,
                            <strong th:style="${category.value.leftBudget < 0 ? 'color: red;' : ''}">Оставшийся бюджет</strong>:
                            <span th:text="${category.value.leftBudget}"
                                  th:style="${category.value.leftBudget < 0 ? 'color: red;' : ''}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="text-align: left;">
            <h3>Добавить транзакцию</h3>
            <form action="/app/addTransaction" method="post">
                <input type="hidden" name="user" th:value="${username}">
                <label for="type">Тип транзакции:</label>
                <select name="type" id="type" th:value="${selectedType}">
                    <option value="income" th:selected="${selectedType == 'income'}">Доходы</option>
                    <option value="expense" th:selected="${selectedType == 'expense'}">Расходы</option>
                    <option value="budget" th:selected="${selectedType == 'budget'}">Бюджет</option>
                </select>
                <br><br>
                <label for="category">Категория:</label>
                <input type="text" id="category" name="category" list = "categories" required>
                <datalist id = "categories">
                    <option th:each="category : ${categories}" th:value="${category.key}" th:text="${category.key}"></option>
                </datalist>
                <br><br>
                <label for="amount">Сумма:</label>
                <input type="number" id="amount" name="amount" step="0.01" required>
                <br><br>
                <button type="submit">Добавить</button>
            </form>
        </div>
        <div style="text-align: left;">
            <h3>Перевести на другой кошелек</h3>
            <form action="/app/transfer" method="post">
                <label for="receiver">Получатель:</label>
                <input type="text" id="receiver" name="receiver" required>
                <br><br>
                <label for="amount">Сумма:</label>
                <input type="number" id="amount" name="amount" required>
                <br><br>
                <button type="submit">Перевести</button>
            </form>
        </div>
    </body>
</html>
</title>
</head>
<body>

</body>
</html>